# Ignore IDES system and congif files
.idea

# Ignore cmake-build-debug folder
cmake-build-debug

# Ignore all text files
#*.txt

# Ignore files related to API keys
#.env

# Ignore SASS config files
#.sass-cache